<!DOCTYPE html>
<html lang="en">
<head>
    <title>CONTACT</title>
    <style>
        body{
            background-color: rgb(160, 199, 87);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }
        h1{
            font-size: 80px;
            text-align: center;
            color: rgb(220, 228, 235);
        }
        p{
            font-size: 30px;
            text-align: center;
            color: rgb(226, 236, 245);
        }

    </style>
</head>
<body>
    <h1><%=person%> DEVELOPER</h1>
    <p>I REALLY WORKED AND UNDERSTOOD THE CONCEPTS WELL !!</p>
    <p><strong>AGE:</strong> <%=data.age%> </p>
    <p><strong>JOB:</strong> <%=data.job%> </p>
    <address>
        Written by <a href="mailto:madhureshkumar8@gmail.com">MADHURESH</a><br>
        USA.
    </address>
</body>
</html>